body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #86c240;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #004c23;
}

.header .logo img {
    width: 80px;
    margin-right: 10px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form-container h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}

.form-group button {
    background-color: #00632f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.form-group button:hover {
    background-color: #004c23;
}
